# dependencies
/node_modules
/.pnp
.pnp.js

/printTemp

/tamil/auto
/telugu/auto
/hindi/auto
/marathi/auto
/malayalam/auto
/bengali/auto
/kannada/auto

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

bengali/.DS_Store
hindi/.DS_Store


